vendor/
composer.lock
.DS_Store
.phpunit.result.cache

# Drupal scaffold artifacts (created by composer install)
/modules/
/profiles/
/themes/
/recipes/
/sites/
/web/
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.ht.router.php
/.htaccess
/INSTALL.txt
/autoload.php
/example.gitignore
/index.php
/robots.txt
/update.php