<div class="data-preview-wrapper">
  <div class="data-preview-controls">
    {{ page_size_form }}
    {{ result_summary }}
  </div>
  <div class="data-preview-table-wrapper">
    {{ table }}
  </div>
  <div class="data-preview-footer">
    {{ pager }}
  </div>
</div>
